@import '../../shared/styles/mixins.scss';

section {
    position: relative;
}

h2 {
    font-size: 32px;
    padding-bottom: 16px;
}

.add-btn-container {
    @include flexbox($jc: end);
    padding-top: 32px;
}