<div class="form-container">
    <h2>Login</h2>
    <div>
        <form (submit)="login()" #loginForm="ngForm">
            <div class="input-container">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput name="email"
                        placeholder="Email" required
                        [(ngModel)]="email"
                        #em="ngModel"
                        pattern="[^@]+@[^\.]+\..+">
                    @if (em.errors?.['required']) {
                        <mat-error>You must enter an email</mat-error>
                    }
                    @if (em.errors?.['pattern']) {
                        <mat-error>You must enter a valid email</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="input-container">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput name="password"
                        [type]="hide ? 'password' : 'text'" required
                        [(ngModel)]="password" placeholder="Password"
                        #pw="ngModel"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (pw.errors?.['required']) {
                        <mat-error>You must enter a password</mat-error>
                    }
                    @if (pw.errors?.['pattern']) {
                        <mat-error>Password must contain at least one number, one uppercase and lowercase letter,
                            and at least 8 or more characters</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="button-container">
                <button mat-raised-button color="primary"
                    type="submit" [disabled]="loginForm.invalid">Login</button>
                @if (isLoggingIn) {
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                }
                @switch (loggingResult) {
                    @case ('invalidCredential') {
                        <div class="invalid-login">Email or password is invalid</div>
                    }
                    @case ('invalidEmail') {
                        <div class="invalid-login">You must enter a valid email</div>
                    }
                    @case ('error') {
                        <div class="invalid-login">Failed to login</div>
                    }
                    @case ('success') {
                        <app-message-animation class="success">Logged in successfully</app-message-animation>
                    }
                }
            </div>
            <p class="signup-cta">Not a user? <a routerLink="/signup">Sign up</a></p>
        </form>
    </div>
</div>