<mat-toolbar color="primary" class="toolbar">
    <div class="toolbar-container">
        <div>
            <button mat-icon-button class="toggle-sidenav-button" aria-label="button with menu icon" (click)="toggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="title">E-Commerce Dashboard</span>
        </div>
        <div>
            <span class="user-name">{{ userName }}</span>
            <img (click)="showOptions()" id="logout" src="../../assets/images/profile-img.png" alt="User image">
        </div>
        @if (isOptionsOpen) {
        <div class="logout">
            <a (click)="logout()"><mat-icon>logout</mat-icon>Logout</a>
        </div>
        }
    </div>
</mat-toolbar>