<div class="dialog-container">
    <ng-container [ngSwitch]="addingStatus">
        <mat-progress-bar *ngSwitchCase="'adding'" mode="indeterminate"></mat-progress-bar>
        <app-message-animation *ngSwitchCase="'success'" class="success">Product added successfully</app-message-animation>
        <app-message-animation *ngSwitchCase="'fail'" class="error">Failed to add product</app-message-animation>
    </ng-container>

    <h2 mat-dialog-title>Add new product</h2>

    <mat-dialog-content>
        <app-product-form (addingStatusEvent)="receiveAddingStatus($event)"></app-product-form>
    </mat-dialog-content>
</div>