@import '../../../shared/styles/mixins.scss';

.input-container {
   @include flexbox($gap: 24px);
   padding-bottom: 8px; 
}

.form-field {
    width: 100%;
}

.dialog-container {
    position: relative;
}

button {
    font-size: 16px;
}