@import '../../../shared/styles/mixins.scss'; 

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @include flexbox();
}

.summary-container {
    @include flexbox($gap: 32px);
}

app-summary-card {
    flex: 1;
}
