@import '../../shared/styles/mixins.scss';

h2 {
    font-size: 32px;
    margin: 0;
    padding-bottom: 32px;
}

.charts-container {
    padding-top: 32px;
    padding-bottom: 32px;
    @include flexbox($jc: space-between, $ai: stretch, $gap: 32px);

    app-line-chart {
        width: 65%;
    }

    app-pie-chart {
        width: 35%;
    }
}

.orders-heading {
    color: rgb(120, 120, 120);
    margin: 0;
    font-size: 20px;
    padding-bottom: 16px;
}