@import '../../../shared/styles/mixins.scss';

mat-card {
    width: 100%;
    height: 100%;

    mat-card-content {
        width: 100%;
        height: 100%;

        h3 {
            color: rgb(120, 120, 120);
            margin: 0;
            font-size: 20px;
            padding-bottom: 16px;
        }

        .chart-container {
            width: 100%;
            height: 100%;

            @media(max-width: 1261px) {
                height: 400px;
                @include flexbox();
            }

            @include mq(tablet) {
                height: 380px;
            }

            canvas {
                max-width: 100%;
                height: 100%;
            }
        }
    }
}