<mat-drawer-container class="sidenav-container">
  <mat-drawer #sidenav class="sidenav" id="sidenav" mode="side" [opened]="isOpen && screenWidth >= 991.98">
    <div class="logo-container">
      <img class="logo-img" src="./assets/images/logo.png" alt="logo">
    </div>
    <mat-divider></mat-divider>
    <app-sidenav-list (closeSidenavMobileEvent)="closeSidenavMobile()"></app-sidenav-list>
  </mat-drawer>

</mat-drawer-container>

@if (sidenav.opened && screenWidth <= 991.98) {
  <div class="sidenav-overlay" (click)="closeSidenav()"></div>
}