@import '../shared/styles/mixins.scss';

.sidenav-container {
    height: 100%;

    @include mq(tablet) {
        position: relative;
        z-index: 10;
    }
}

.sidenav {
    width: 250px;
    position: fixed;
}

.logo-container {
    padding: 16px;
    height: 60px;
    @include flexbox();

    .logo-img {
        width: 95%;
    }
}

.sidenav-overlay {
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}