@import '../../shared/styles/mixins.scss';

ul {
    list-style-type: none;
}

.list-item {
    a {
        font-size: 16px;
        text-decoration: none;
        color: currentColor;
        @include flexbox($jc: start, $gap: 8px);
        padding: 12px 16px 12px 32px;
        cursor: pointer;

        &:hover {
            background-color: rgba(63, 81, 181, 0.08);
            text-decoration: none;
        }
    }
}