@import '../../shared/styles/mixins.scss';
@import '../../shared/styles/variables.scss';

ul {
    list-style-type: none;
    position: relative;
    z-index: 1;
}

.list-item {
    a {
        font-size: 16px;
        text-decoration: none;
        color: currentColor;
        @include flexbox($jc: start, $gap: 10px);
        padding: 12px 16px 12px 32px;
        cursor: pointer;

        &:hover {
            background-color: rgba(63, 81, 181, 0.1);
            text-decoration: none;
        }
    }

    mat-icon {
        color: $main-color;
    }
}

.active {
    background-color: rgba(63, 81, 181, 0.08);
}

.group-title {
    padding: 4px 0 4px 8px;
    color: rgb(110, 110, 110);
    font-size: 14px;
}