@import '../../shared/styles/mixins.scss';

.loader-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include flexbox();
}

.heading-container {
    @include flexbox($jc: space-between);
    padding-bottom: 32px;
}

h2 {
    font-size: 32px;
    margin: 0;
}

.form-container {
    padding-top: 8px;
    width: 100%;
    @include flexbox($jc: space-between, $gap: 32px);

    @include mq(xs) {
        flex-direction: column;
        gap: 0;
    }

    .form {
        width: 70%;

        @include mq(xs) {
            width: 100%;
        }
    }

    .input-container {
        width: 100%;

        mat-form-field {
            width: 50%;
        }

        .p-r {
            padding-right: 8px;

            @include mq(xs) {
                padding-right: 0;
            }
        }

        .p-l {
            padding-left: 8px;
        }

        .w-100 {
            width: 100%;
        }
    }

    .buttons-container {
        @include flexbox($jc: end, $gap: 16px);

        button {
            font-size: 16px;
        }
    }
}

.img-container {
    width: 30%;
    @include flexbox($fd: column, $gap: 12px);
    padding-bottom: 32px;

    img {
        display: block;
        width: 150px;
        height: 150px;
        object-fit: cover;
        object-position: center;
        clip-path: circle(50%);
    }

    .upload {
        @include flexbox();
        cursor: pointer;
    }
}