@import '../../shared/styles/mixins.scss';

.loader-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include flexbox();
}

.heading-container {
    @include flexbox($jc: space-between);
    padding-bottom: 32px;
}

h2 {
    font-size: 32px;
    margin: 0;
}

.form-container {
    padding-top: 8px;
    width: 100%;

    .input-container {
        width: 100%;

        mat-form-field {
            width: 50%;
        }

        .p-r {
            padding-right: 8px;
        }

        .p-l {
            padding-left: 8px;
        }
    }

    .buttons-container {
        @include flexbox($jc: end, $gap: 16px);

        button {
            font-size: 16px;
        }
    }
}