@if (isLoading) {
    <div class="loader-wrapper">
        <mat-spinner></mat-spinner>
    </div>
} @else {
    <div class="heading-container">
        <h2>Edit customer details</h2>
        <button routerLink="/customers" mat-icon-button color="primary" 
            aria-label="Button with a arrow icon"
            matTooltip="Go back">
            <mat-icon>west</mat-icon>
        </button>
    </div> 
    <mat-card>
        <mat-card-content>
            <div class="form-container">
                <div class="img-container">
                    <img [src]="customer.imageUrl || './assets/images/profile-img.png'" alt="Customer Picture">
                    <input type="file" (change)="onImageSelected($event)" hidden #fileInput accept=".jpg,.jpeg,.png">
                    <div (click)="fileInput.click()" class="upload">Upload image
                        <mat-icon aria-hidden="false" aria-label="Upload icon" fontIcon="upload"></mat-icon>
                    </div>
                    <div [ngSwitch]="loadingStatus">
                        <p *ngSwitchCase="'uploading'">⏳ Uploading...</p>
                        <p *ngSwitchCase="'success'">✅ Done! Save the changes</p>
                        <p *ngSwitchCase="'fail'">❌ Error!</p>
                        <p *ngSwitchDefault></p>
                    </div>
                </div>
                <form (submit)="updateCustomer()" #form="ngForm" class="form">
                    <div class="input-container">
                        <mat-form-field appearance="fill" class="p-r">
                            <mat-label>First name</mat-label>
                            <input matInput required name="firstName" [(ngModel)]="customer.firstName"
                                [disabled]="isSaving">
                            <mat-error>You must enter a value</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="p-l">
                            <mat-label>Last name</mat-label>
                            <input matInput required name="lastName" [(ngModel)]="customer.lastName" [disabled]="isSaving">
                            <mat-error>You must enter a value</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="input-container">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Email</mat-label>
                            <input matInput required name="email" [(ngModel)]="customer.email" pattern="[^@]+@[^\.]+\..+"
                                #email="ngModel" [disabled]="isSaving">
                            @if (email.errors?.['required']) {
                            <mat-error>You must enter a value</mat-error>
                            }
                            @if (email.errors?.['pattern']) {
                            <mat-error>You must enter a valid email</mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="input-container">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Date of birth</mat-label>
                            <input matInput name="date" [(ngModel)]="customer.birthDate" [matDatepicker]="datepicker"
                                [disabled]="isSaving">
                            <mat-error>You must enter a valid date</mat-error>
                            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="input-container">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Street & house number</mat-label>
                            <input matInput required name="address" [(ngModel)]="customer.address" [disabled]="isSaving">
                            <mat-error>You must enter a value</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="input-container">
                        <mat-form-field appearance="fill" class="p-r">
                            <mat-label>Zip code</mat-label>
                            <input type="text" matInput required name="zip" [(ngModel)]="customer.zip"
                                [disabled]="isSaving" pattern="\d{4}" #zip="ngModel">
                            @if (zip.errors?.['required']) {
                                <mat-error>You must enter a value</mat-error>
                            }
                            @if (zip.errors?.['pattern']) {
                                <mat-error>You must enter a 4 digit zip code</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="p-l">
                            <mat-label>City</mat-label>
                            <input matInput required name="city" pattern="[^0-9]*" [(ngModel)]="customer.city" [disabled]="isSaving"
                                #city="ngModel">
                            @if (city.errors?.['required']) {
                                <mat-error>You must enter a value</mat-error>
                            }
                            @if (city.errors?.['pattern']) {
                                <mat-error>Value can contain only characters</mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="buttons-container">
                        <button mat-raised-button [disabled]="isSaving" color="warn"
                            type="button"
                            (click)="openDialog()">Delete</button>
                        <button mat-raised-button routerLink="/customers" [disabled]="isSaving"
                            type="button">Cancel</button>
                        <button mat-raised-button color="primary"
                            [disabled]="!form.valid || isSaving"
                            cdkFocusRegionstart type="submit"
                            (click)="updateCustomer()">Save</button>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
   @if (isSaving) {
        <div class="loader-wrapper">
            <mat-spinner></mat-spinner>
        </div>
   }
   @if (isSuccess) {
        <app-message-animation class="success">Customer successfully updated</app-message-animation>
   }
   @if (isError) {
        <app-message-animation class="error">Failed to update!</app-message-animation>
   }
}